# Ignorar node_modules en frontend y backend
front-end/node_modules/
back-end/node_modules/

# Archivos de entorno
front-end/.env
back-end/.env

# Dependencias de compilación y logs
dist/
build/
*.log
